<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<!-- <a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a> -->
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<!-- <nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav> -->

<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <!-- Home -->
        {% for page in site.pages %}
            {% if page.layout == "home" %}
                <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- Resume -->
        {% for page in site.html_pages %}
            {% if page.title == "Resume" %}
                <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- Teaching -->
        {% for page in site.html_pages %}
            {% if page.title == "Teaching" %}
                <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- Photos -->
        {% for page in site.html_pages %}
            {% if page.title == "Photos" %}
                <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- Other Pages -->
        {% for page in site.html_pages %}
            {% unless page.layout == "home" or page.title == "Resume" or page.title == "Teaching" or page.title == "Photos" %}
			{% if page.layout != "home" and page.nav-menu == true %}
                <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
			{% endif %}
            {% endunless %}
        {% endfor %}
    </ul>
</nav>

